.faq-section {
    background-color: #566822;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 20px;
  }
  
  .faq-section h2 {
    color: #fff;
  }
  
  .faq-section h3 {
    color: #fff;
  }
  
  .faq-list {
    list-style: none;
    padding: 0;
  }
  
  .faq-list li {
    margin-bottom: 20px;
  }
  
  .faq-list h4 {
    color: #fff;
  }
  
  .faq-list p {
    color: #fff;
  }
  